html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}


body::after {
  content: "";
  background: url('https://www.cdc.gov/coronavirus/2019-ncov/images/COVID-19-SM-1200px.jpg');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:fixed;
  z-index: -1;   
  background-size:cover
}

nav {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav img {
  max-height: 50px;
  padding: 5px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}


#home{
  display: inline-block;
  text-align: right;
  width: 100%;
  margin: 0px;
  padding: 100px;
}

div{
  display:block
}


.data {
    display: flex;
    text-align: left;
}

.secondDataDiv{
  display: flex;
}

.dataChild1 {
    flex: 40%;
    overflow: auto;
    height: 400px;
    width: 300px;
    display: inline-block;
    text-align: center;
}  

.dataChild2{
  flex: 60%;
}

#data2 {
    margin-right: 20px;
    text-align: right;
    width: 300px;
    display: inline-block;
} 

#home{
  margin: 0;
  padding: 0;
  height: 780px;

}



img{
background-size: 50%;
border: 1px black
}

#hData{
    overflow-y:scroll;
    overflow-x:hidden;
}

#flag{
height: 200px;
width: 300px;
border: solid #000;
border-width: 1px 1px;
margin: auto;
background-size:cover;
}

#title{
  text-align: center;
}

#root{
  height:100%
}

#bar{
  display: inline-block;
  padding: 0 20px;
}

#countries{
  display: flex;
  flex-direction: row;
  flex-wrap  : wrap;

}

.countries{
  display: flex;
  flex-direction: row;

}


#alpha{
  display: flex;
  flex-direction: row;
  flex-wrap  : wrap;
  text-align: left;
  margin: 0 10px;

}

.search{
  flex: 50%;
  text-align: center;
  padding-top: 10px;
}



#searches{
  display: flex;
}



input{
  width: 400px;
  height: 30px;
  text-align: center;
}

#submit{
  text-align: center;
  height: 30px;
  width: 150px;
}


#c1{
  display: inline-block;
  margin: 10px 10px;
  text-align: center;
  width: 20%;
}

#c2{
  display: inline-block;
  margin: 10px 10px;
  text-align: center;
}

#flag1{
height: 60px;
width: 90px;
/* border: black; */
margin: 0 30px;
background-size: cover;
/* padding: black; */
display: inline-block;
/* border: solid #000;
border-width: 1px 1px; */
}

#c1name{
  display: inline-block;
}

#flag2{
height: 60px;
width: 90px;
/* border: black; */
margin: 0 30px;
background-size: cover;
/* padding: black; */
display: inline-block;
/* border: solid #000;
border-width: 1px 1px; */
}

#c2name{
  display: inline-block;
}

#bar1{
  width: 150px;
  display: inline-block;
  text-align: center;


}

.compareC{
  display: flex;
}

.half{
  flex:50%
}

h1,h2,h3,h4,div,::placeholder{
  font-family: 'Merriweather', serif;
}

.homepage{
  padding:   0 20px;
}

#bg{
    background-image: url('https://www.cdc.gov/coronavirus/2019-ncov/images/COVID-19-SM-1200px.jpg');
opacity: 50%;
}

#country{
  font-weight: bold;
  padding: 0 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

p{
  flex-direction: row;
}

#local{
  display: flex;
}

#stats1{
  flex: 50%;
  text-align: center;
  height:auto
}
#stats2{
  flex: 50%;
  text-align: center;
  height: auto;
  padding: 0px 15px 10px 0;
}

.stats3{
  flex: 50%;
  padding: 10px 50px
}

#localHeader{
  display: flex;
}

#singapore{
  font-size: 80px;
  text-align: left;
}

input{
  background-color: white;
  color: black;
  border: solid black;
  border-width: 1px 1px;
  
}

::placeholder{
  color: grey;
}

.firstDataDiv{
  display: flex;
}

.dataHeader{
  flex: 50%;
}

#home2{
  display: flex;
}

#homeChild{
  flex: 33%;
  text-align: center;
  padding: 10px 10px;
  background-color: white;
  border: solid black;
  margin: 40px 10px;
}

.child{
  display: block;
  text-align: left;
  padding: 10px 20px 30px 20px;
}

#alph{
  font-weight: bold;
  display: block;
}

.link{
  padding: 0px 10px;
  font-weight: bold;

}

button{
width: 150px;
}

#button{
  text-align: center;
}