html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
}


body::after {
  content: "";
  background: url('https://www.cdc.gov/coronavirus/2019-ncov/images/COVID-19-SM-1200px.jpg');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:fixed;
  z-index: -1;   
  background-size:contain
}

nav {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav img {
  max-height: 50px;
  padding: 5px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

nav a:hover {
  background: #282c34;
}


#home{
  display: inline-block;
  text-align: right;
  width: 100%;
  margin: 0px;
  padding: 100px;
}

div{
  display:block
}


.data {
    display: flex;
    text-align: left;
}

.dataChild {
    flex: 1;
    overflow: auto;
    height: 400px;
    width: 300px;
    display: inline-block;
    text-align: center;
}  

#data2 {
    margin-right: 20px;
    text-align: center;
    width: 300px;
    display: inline-block;
} 

#home{
  margin: 0;
  padding: 0;
  height: 780px;

}



img{
background-size: 50%;
border: 1px black
}

#hData{
    overflow-y:scroll;
    overflow-x:hidden;
}

#flag{
height: 200px;
width: 300px;
border: solid #000;
border-width: 1px 1px;
margin: auto;
background-size:cover;
}

#title{
  text-align: center;
}

#root{
  height:100%
}

#bar{
  display: inline-block;
}

#countries{
  display: flex;
  flex-direction: row;
  flex-wrap  : wrap;

}

#country{
  margin: 0 10px;
}

#alpha{
  display: flex;
  flex-direction: row;
  flex-wrap  : wrap;
  text-align: left;
  margin: 0 10px;

}

.search1{
   text-align: center;
  width: 100%;
}

.search2{
   text-align: center;
  width:100%;
}

#searches{
  width: 100%;
  text-align: center;
}

input{
  width: 400px;
  height: 30px;
  text-align: center;
}

#submit{
  text-align: center;
  height: 30px;
  width: 150px;
}


#c1{
  display: inline-block;
  margin: 10px 10px;
  text-align: center;
  width: 20%;
}

#c2{
  display: inline-block;
  margin: 10px 10px;
  text-align: center;
}

#flag1{
height: 60px;
width: 90px;
/* border: black; */
margin: 0 30px;
background-size: cover;
/* padding: black; */
display: inline-block;
border: solid #000;
border-width: 1px 1px;
}

#c1name{
  display: inline-block;
}

#flag2{
height: 60px;
width: 90px;
/* border: black; */
margin: 0 30px;
background-size: cover;
/* padding: black; */
display: inline-block;
border: solid #000;
border-width: 1px 1px;
}

#c2name{
  display: inline-block;
}

#bar1{
  width: 150px;
  display: inline-block;
  text-align: center;

}

.compareC{
  display: flex;
}

.half{
  flex:50%
}

h1,h2,h3,h4,div{
  font-family: 'Merriweather', serif;
}

.homepage{
  padding:   0 20px;
}

#bg{
    background-image: url('https://www.cdc.gov/coronavirus/2019-ncov/images/COVID-19-SM-1200px.jpg');
opacity: 50%;
}

.country{
  font-weight: bold;
}

#local{
  padding: 10px 10px
}